{% extends "layout.html" %}
{% block body %}    
        <div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Forms</h2>
            </div>
          </header>
          <ul class="breadcrumb">
            <div class="container-fluid">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active">Forms</li>
            </div>
          </ul>
          <!-- Forms Section-->
          <section class="forms"> 
            <div class="container-fluid">
              <div class="row">
                <!-- Basic Form-->
                <div class="col-lg-6">
                  <div class="card">
                    <div class="card-close">
                      <div class="dropdown">
                        <button type="button" id="closeCard" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                        <div aria-labelledby="closeCard" class="dropdown-menu has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                      </div>
                    </div>
                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">Eliminar Registro de Persona</h3>
                    </div>
                    <div class="card-body">
                      
                      <form  method="POST" action="/eliminar_persona" enctype="multipart/form-data">
                       

                        <div class="form-group">
                          <label class="form-control-label">Rut</label>
                          <input type="number" name="rut" class="form-control">
                          <label class="form-control-label">Dígito Verificador</label>
                          <input type="text" name="dv" class="form-control">
                        </div>
                        <div class="project">
                <div class="row bg-white has-shadow">
                  <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
                    <div class="project-title d-flex align-items-center">
                      
                        <h3 class="h4">{{advertencia}} </h3><small></small>
                      </div>
                    </div>
                    <div class="project-date"><span class="hidden-sm-down"></span></div>
                  </div>
                  
                </div>
              </div>

                        

                        <div class="form-group">       
                          <input type="submit" value="Ingresar datos" class="btn btn-primary">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                
                
              </div>
            </div>
          </section>
          
          
        </div>
       {% endblock %}