{% extends "layout.html" %}
{% block body %}    
        <div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Forms</h2>
            </div>
          </header>
          <ul class="breadcrumb">
            <div class="container-fluid">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active">Forms</li>
            </div>
          </ul>
          <!-- Forms Section-->
          <section class="forms"> 
            <div class="container-fluid">
              <div class="row">
                <!-- Basic Form-->
                <div class="col-lg-6">
                  <div class="card">
                    <div class="card-close">
                      <div class="dropdown">
                        <button type="button" id="closeCard" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                        <div aria-labelledby="closeCard" class="dropdown-menu has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                      </div>
                    </div>
                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">Datos de la persona</h3>
                    </div>
                    <div class="card-body">
                      
                      
                      <form  method="POST" action="/datos_personas" enctype="multipart/form-data">
                        <div class="form-group">
                          <label class="form-control-label">Nombre</label>
                          <input type="text" name="nombre" placeholder="Ingrese su nombre" class="form-control">

                        </div>

                        <div class="form-group">
                          <label class="form-control-label">Rut</label>
                          <input type="number" name="rut" placeholder="Ingrese su rut sin puntos y sin guión" class="form-control">
                          <label class="form-control-label">Dígito verificador</label>
                          <input type="number" name="dv" placeholder="Ingrese el dígito verificador" class="form-control">
                        </div>

                        <div class="form-group">
                          <label class="form-control-label">Edad</label>
                          <input type="number" name="edad" placeholder="Ingrese su edad" class="form-control">
                        </div>

                        
                        <div class="form-group">       
                          <label class="form-control-label">Dirección</label>
                          <input type="text" name="direccion" placeholder="Ingrese la dirección de residencia" class="form-control">
                        </div>


                        <div class="form-group">
                          <label class="form-control-label">Cantidad de choques</label>
                          <input type="number" name="cantidad_choques" placeholder="Ingrese la cantidad de choques de la persona" class="form-control">
                        </div>

                        <div class="form-group">
                          <label class="form-control-label">Comuna</label>
                          <SELECT name = "comuna">
                        <OPTION selected="selected">comuna1
                        <OPTION>comuna2
                        <OPTION>comuna3
                        <OPTION>comuna4
                        </SELECT> 
                        </div>

                        <div class="form-group">       
                          <input type="submit" value="Ingresar datos" class="btn btn-primary">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                
                
              </div>
            </div>
          </section>
          
          
        </div>
       {% endblock %}