{% extends "layout.html" %}
{% block body %}

<div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Dashboard</h2>
            </div>
          </header>
         
          
          <!-- Projects Section-->
          <section class="projects no-padding-top">
            <div class="container-fluid">
              <!-- Project-->

              <form  method="POST" action="/mostrar_personas" enctype="multipart/form-data">
                        <div class="form-group">
                          <label class="form-control-label">Rut</label>
                          <input type="number" name="rut" placeholder="Ingrese su rut" class="form-control">
                        </div>
                        <div class="form-group">
                          <label class="form-control-label">Dígito Verificador</label>
                          <input type="text" name="dv" class="form-control">
                        </div>
                        
                        <div class="form-group">       
                        <button class="btn btn-primary">Ingresar datos</button>
                          
                        </div>
                        <h3 class="h4">{{advertencia  }} </h3><small></small>
                      </form>
              {%for resultado in resultados%} 
              <div class="project">
                <div class="row bg-white has-shadow">
                  <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
                    <div class="project-title d-flex align-items-center">
                      
                        <h3 class="h4">Cantidad de choques: {{resultado[3]  }} </h3><small></small>
                      </div>
                    </div>
                    <div class="project-date"><span class="hidden-sm-down"></span></div>
                  </div>
                  
                </div>
              </div>

              {%endfor%}
        
            </div>
          </section>
          <!-- Client Section-->
         
          <!-- Feeds Section-->
          
</div>
 {% endblock %}